button{
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
}

div{
    text-align: center;
}